body {
  padding: 10px;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}
h1 a:not(:hover):not(:active):not(:focus) {
  color: inherit;
  text-decoration: none;
}

#WheelPage {
  display: grid;
  grid-template-areas:
    "header"
    "spinner"
    "drawings"
    "create"
    "wedges";
  grid-template-columns: 1fr;
  gap: 1em;
}
@media (min-width: 800px) {
  #WheelPage {
    /* margin: 0 auto;
    max-width: 60em; */
    grid-template-areas:
      "header  header"
      "spinner drawings"
      "spinner create"
      "spinner wedges";
    grid-template-columns: 50% 1fr;
  }
}
@media (min-width: 1200px) {
  #WheelPage {
    grid-template-areas:
      "header  header   header"
      "spinner drawings wedges"
      "spinner create   wedges";
    grid-template-columns: 40% 1fr 1fr;
    grid-template-rows: min-content min-content 1fr;
  }
}
.WedgeRow button {
  width: 3em;
}
#WheelHeader {
  grid-area: header;
  text-align: center;
}
#WheelSpinner {
  grid-area: spinner;
  justify-self: center;
  flex-direction: column;
  box-sizing: border-box;
  justify-self: auto;
  align-self: flex-start;
  margin: 0 10%;
}
#WheelSpinner > div {
  flex: 1;
  aspect-ratio: 1 / 1;
  width: auto;
  height: auto;
  max-width: initial;
  max-height: initial;
}
#WheelSidebar {
  grid-area: sidebar;
}
#DrawingsList {
  grid-area: drawings;
}
#CreateWedgeForm {
  grid-area: create;
}
#WedgesList {
  grid-area: wedges;
}

.WedgeRow {
  /* max-width: 20em; */
  display: flex;
  box-sizing: border-box;
  color: #fff;
}

#DrawingsList button {
  font-size: 1.2em;
}

.input-row input {
  width: 0;
}
.input-row input, .input-row button {
  padding: 0.25em 0.5em;
  font-size: 1.2em;
  flex-shrink: 1;
}
